* {
    padding: 0;
    margin: 0;
}
input,
select,
button,
a {
    outline: 0 !important;
}
:root {
    --blue-color: #1188cb;
    --green-color: #7fc036;
    --yellow-color: #ffe600;
    --red-color: #ee3434;
    --heading-color: #294554;
    --text-color: #4f4f4f;
    --bg-color: #f0f9ff;
}
body {
    font: 16px/24px "Roboto", sans-serif;
    color: var(--text-color);
}
.footer {
    padding: 0 15px;
    text-align: center;
}
h1 {
    font: bold 48px/64px "Roboto Condensed", sans-serif;
    color: var(--heading-color);
    text-transform: uppercase;
}
h2 {
    font: bold 40px/55px "Roboto Condensed", sans-serif;
    color: var(--heading-color);
    text-transform: uppercase;
}
h3 {
    font: 24px/48px "Roboto Condensed", sans-serif;
    color: var(--heading-color);
    text-transform: uppercase;
}
h4 {
    font: bold 18px/28px "Roboto Condensed", sans-serif;
    color: var(--heading-color);
    text-transform: uppercase;
}
p {
    font: 16px/28px "Roboto", sans-serif;
    margin: 0;
}
a {
    font: 16px/100% "Roboto", sans-serif;
    color: var(--heading-color);
}
.text {
    color: black;
    font: 14px/20px "Roboto", sans-serif;
}
.blue-text {
    color: var(--blue-color);
}
.red-text {
    color: var(--red-color);
}
.white-text {
    color: #fff;
}
button {
    padding: 0.9em 2em;
    background: linear-gradient(180deg, #9dd00c 0%, #8dbd03 100%);
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    font: bold 18px/21px "Roboto Condensed", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}
button:hover {
    cursor: pointer;
    opacity: 0.9;
    background: linear-gradient(180deg, #8dbd03 0%, #9dd00c 100%);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
}
section {
    width: 100%;
}
.container {
    position: relative;
}
.navbar {
    height: 80px;
    background: #fff;
    box-shadow: 0 3px 5px rgba(121, 152, 175, 0.21);
}
.navbar-nav {
    height: 100%;
}
.nav-item {
    display: flex;
    align-items: center;
}
.nav-link {
    padding: 9px 0 !important;
    margin: 0 15px;
    font: 16px/19px "Roboto Condensed", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.nav-link:hover {
    color: var(--blue-color);
    border-top: 2px var(--blue-color) solid;
    border-bottom: 2px var(--blue-color) solid;
}
.navbar button {
    margin-right: 15px;
}
.header {
    height: 90px;
}
.header-logo {
    /*background: url(../img/xlogo.png.pagespeed.ic.L2XoMzG6sH.webp) center left no-repeat;*/
    height: 50px;
    width: 180px;
}
.header-item1,
.header-item2,
.header-item3,
.header-item4 {
    margin-left: 50px;
    padding-left: 60px;
}
.header-item1 {
    background: url(../img/xheader-item1.png.pagespeed.ic.I0eBPdY-84.webp) center left no-repeat;
}
.header-item2 {
    background: url(../img/xheader-item2.png.pagespeed.ic.zQt5tH1JrP.webp) center left no-repeat;
}
.header-item3 {
    background: url(../img/xheader-item3.png.pagespeed.ic.-fFg9rKrom.webp) center left no-repeat;
}
.header-item4 {
    background: url(../img/xheader-item4.png.pagespeed.ic.SYYV1SLZEH.webp) center left no-repeat;
}
.header-item-text {
    font: 14px/24px "Roboto", sans-serif;
}
.s1 {
    height: 671px;
    padding-top: 30px;
    background: url(../img/xs1-bg.png.pagespeed.ic.18sS0ubXLQ.webp) top center no-repeat;
    background-blend-mode: multiply, normal;
}
.s1-title {
    margin-top: 30px;
}
.s1-list {
    margin-top: 30px;
    list-style: none;
}
.s1-list-item {
    margin-top: 15px;
    padding-left: 35px;
    background: url(../img/xlist-icon.png.pagespeed.ic.dce-pVSbqm.webp) top left no-repeat;
}
.s1-img1 {
    height: 582px;
    width: 328px;
    position: absolute;
    bottom: -34px;
    right: 365px;
    background: url(../img/xmen-top.png.pagespeed.ic.juIKjTRpuE.webp) bottom center no-repeat;
    z-index: 10;
}
.s1-img2 {
    width: 100%;
    height: 100%;
    max-height: 380px;
    max-width: 344px;
    position: absolute;
    bottom: -65px;
    right: 605px;
    background: url(../img/prostata.png) bottom center no-repeat;
    z-index: 20;
    -webkit-background-size: contain;
    background-size: contain;
}
.s1-img2-disc {
    width: 100%;
    height: 100%;
    max-width: 102px;
    max-height: 102px;
    position: absolute;
    top: 30px;
    right: 0;
    background: #ee3434;
    transform: rotate(-20deg);
    border: 5px #fff solid;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}
.s1-img2-disc span {
    font-size: 28px;
    margin-top: 8px;
}
.s2 {
    height: 821px;
}
.s2-title {
    padding-top: 120px;
    text-align: center;
}
.s2-list {
    margin-top: 30px;
    list-style: none;
}
.s2-list-item {
    margin-bottom: 55px;
    padding-left: 35px;
    background: url(../img/xlist-icon2.png.pagespeed.ic.v_JPXMCwHV.webp) top left no-repeat;
    font: 18px/21px "Roboto Condensed", sans-serif;
    color: var(--heading-color);
}
.s2-img {
    height: 425px;
    background: url(../img/xs2-img.png.pagespeed.ic.7BYZZyEXJw.webp) center no-repeat;
}
.s3 {
    height: 903px;
    background: var(--bg-color);
}
.s3-title {
    text-align: center;
    padding-top: 120px;
}
.s3-subtitle {
    text-align: center;
}
.s3-cards {
    margin-top: 67px;
}
.s3-card {
    height: 491px;
    width: 370px;
    background: #fff;
    text-align: center;
}
.s3-card-header1,
.s3-card-header2,
.s3-card-header3 {
    height: 240px;
}
.s3-card-header1 {
    background: url(../img/xs3-card1.png.pagespeed.ic.DuzcX5gvFi.webp) top center no-repeat;
}
.s3-card-header2 {
    background: url(../img/xs3-card2.png.pagespeed.ic.6SFIZzxQEu.webp) top center no-repeat;
}
.s3-card-header3 {
    background: url(../img/xs3-card3.png.pagespeed.ic.C9zNfqbOiw.webp) top center no-repeat;
}
.s3-card-title,
.s3-card-subtitle {
    font: bold 18px/28px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}
.s3-card-title {
    margin-top: 30px;
}
.s3-card-subtitle {
    margin-bottom: 15px;
}
.s3-card-desc {
    padding: 0 30px;
    font: 16px/24px "Roboto", sans-serif;
}
.s4 {
    height: 829px;
    /*background: url(../img/xs4-bg.png.pagespeed.ic.EZ6nNOGOJS.webp) top center no-repeat;*/
}
.s4-title,
.s4-subtitle {
    text-align: center;
}
.s4-title {
    padding-top: 120px;
}
.s4-cards {
    margin-top: 67px;
}
.s4-card {
    width: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s4-card-header1,
.s4-card-header2,
.s4-card-header3 {
    width: 190px;
    height: 190px;
    border: 10px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}
.s4-card-header1 {
    background: url(../img/xs4-card1.png.pagespeed.ic.BWqedItag_.webp) center no-repeat;
}
.s4-card-header2 {
    background: url(../img/xs4-card2.png.pagespeed.ic.bMe7F-kNLm.webp) center no-repeat;
}
.s4-card-header3 {
    background: url(../img/xs4-card3.png.pagespeed.ic.NzacP2F41W.webp) center no-repeat;
}
.s4-btn {
    margin-top: 70px;
}
.s4-card-close {
    width: 50px;
    height: 50px;
    background: url(../img/xclose.png.pagespeed.ic.KcDs5z6r-A.webp) center no-repeat;
    position: absolute;
    bottom: -25px;
}
.s4-card-desc {
    text-align: center;
    padding-top: 50px;
    font: bold 18px/28px "Roboto Condensed", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.s5 {
    height: 750px;
    background: var(--bg-color);
}
.s5-row {
    padding-top: 75px;
}
.s5-doc {
    position: relative;
}
.s5-doc-img {
    height: 583px;
    width: 469px;
    position: absolute;
    background: url(../img/xdoctor-1.png.pagespeed.ic.7D0q6vkA_v.webp) bottom left no-repeat;
}
.s5-doc-name {
    height: 160px;
    width: 406px;
    position: absolute;
    background: url(../img/xdoc-name.png.pagespeed.ic.0SP8yYXMxp.webp) center bottom no-repeat;
    bottom: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.s5-doc-name-row1 {
    margin-top: 5px;
    font: bold 18px/28px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: #fff;
}
.s5-doc-name-row2 {
    font: 13px/28px "Roboto", sans-serif;
    color: #fff;
}
.s5-title {
    text-align: center;
}
.s5-block {
    width: 700px;
    margin-top: 25px;
    padding: 40px 30px;
    background: #fff;
    border-radius: 15px;
}
.s5-list {
    margin-top: 30px;
    list-style: none;
}
.s5-list-item {
    margin-top: 15px;
    padding-left: 35px;
    background: url(../img/xlist-icon.png.pagespeed.ic.dce-pVSbqm.webp) top left no-repeat;
}
.s5-spacer {
    height: 1px;
    width: 100%;
    margin: 15px 0 30px;
    background: #e0e0e0;
}
.s5-desc {
    text-align: center;
    font-style: italic;
    color: #4f4f4f;
}
.s6 {
    height: 1329px;
    background: #e0e0e0;
}
.s6-title {
    text-align: center;
    padding-top: 120px;
}
.s6-desc {
    margin-top: 75px;
    position: relative;
}
.s6-desc-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 10px 20px rgba(121, 152, 175, 0.1);
    border-radius: 15px;
}
.s6-desc-img {
    height: 158px;
    width: 158px;
    background: url(../img/xs6-desc.png.pagespeed.ic.9wVL_oMNbQ.webp) center no-repeat;
}
.s6-desc-text {
    margin-left: 19px;
    width: 404px;
    font: italic 16px/24px "Roboto", "sans-serif";
}
.s6-cards {
    margin-top: 50px;
}
.s6-card {
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s6-card-img1,
.s6-card-img2,
.s6-card-img3,
.s6-card-img4 {
    height: 140px;
    width: 140px;
}
.s6-card-img1 {
    background: url(../img/xs6-card1.png.pagespeed.ic.ttjlKrYBEH.webp) center no-repeat;
}
.s6-card-img2 {
    background: url(../img/xs6-card2.png.pagespeed.ic.l8DbxIJmdC.webp) center no-repeat;
}
.s6-card-img3 {
    background: url(../img/xs6-card3.png.pagespeed.ic.oP8oVxBtQ8.webp) center no-repeat;
}
.s6-card-img4 {
    background: url(../img/xs6-card4.png.pagespeed.ic.euYtjQ2Iit.webp) center no-repeat;
}
.s6-card-title {
    margin-top: 30px;
    text-align: center;
}
.s6-card-desc {
    margin-top: 10px;
    text-align: center;
}
.s6-prod {
    width: 525px;
    height: 630px;
    background: url(../img/prostata.png) center no-repeat;
    position: absolute;
    top: 235px;
    -webkit-background-size: 300px;
    background-size: 200px;
}
.s6-btn {
    margin-top: 55px;
}
.s7 {
    height: 963px;
    background: url(../img/xs7-bg.png.pagespeed.ic.TabusbBgiA.webp) top center no-repeat;
}
.s7-title {
    padding-top: 120px;
    text-align: center;
}
.s7-slider {
    margin-top: 50px;
}
.s7-slide {
    width: 969px;
    background: #fff;
    border-radius: 15px;
}
.s7-slide-doc {
    width: 269px;
    background: url(../img/xslide-doc1.png.pagespeed.ic.85xWl82c5x.webp) bottom center no-repeat;
}
.s7-slide-card {
    padding: 30px;
}
.s7-slide-name {
    margin-top: 40px;
}
.s8 {
    height: 723px;
}
.s8-title {
    padding-top: 120px;
    text-align: center;
}
.s8-subtitle {
    margin-top: 10px;
    text-align: center;
    font: 20px/28px "Roboto Condensed", "sans-serif";
}
.s8-line {
    height: 2px;
    width: 900px;
    margin-top: 70px;
    top: 30px;
    position: absolute;
    background: #e0e0e0;
}
.s8-cards {
    margin-top: 70px;
}
.s8-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s8-card-img {
    height: 64px;
    width: 64px;
    background: url(../img/xchecked.png.pagespeed.ic.33hNOCQGmr.webp) center no-repeat;
}
.s8-card-percent {
    margin-top: 20px;
    font: bold 40px/47px "Roboto Condensed", "sans-serif";
}
.s8-card-text {
    margin-top: 15px;
    text-align: center;
}
.s9 {
    height: 1047px;
    background: #f0f9ff;
}
.s9-title {
    padding-top: 120px;
    text-align: center;
}
.s9-cards {
    margin-top: 130px;
}
.s9-card {
    width: 470px;
    position: relative;
    margin: 0 15px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(121, 152, 175, 0.1);
}
.s9-card-wrapper {
    height: 190px;
    padding-left: 225px;
}
.s9-card-img1,
.s9-card-img2 {
    position: absolute;
}
.s9-card-img1 {
	height: 251px;
    width: 175px;
    top: 0px;
    left: 15px;
    background: url(../img/prostata.png) top center no-repeat;
    background-size: 90px;
}
.s9-card-img2 {
    height: 175px;
    width: 175px;
    left: 16px;
    background: url(../img/xs9-card-img2.png.pagespeed.ic.ksfQgZ3OQC.webp) top left no-repeat;
}
.s9-card-title {
    padding-top: 36px;
    font: 16px/28px "Roboto Condensed", "sans-serif";
    color: #294554;
    text-transform: uppercase;
    opacity: 0.5;
}
.s9-card-subtitle {
    margin-top: 10px;
    font: bold 32px/36px "Roboto Condensed", "sans-serif";
    color: var(--heading-color);
    text-transform: uppercase;
}
.s9-card-list-wrapper {
    padding: 0 30px;
}
.s9-card-list {
    list-style: none;
}
.s9-card-list-item-plus {
    margin-top: 15px;
    padding-left: 35px;
    background: url(../img/xic-plus.png.pagespeed.ic.k8yfUjsQdi.webp) top left no-repeat;
}
.s9-card-list-item-minus {
    margin-top: 15px;
    padding-left: 35px;
    background: url(../img/xic-minus.png.pagespeed.ic.275JH7HtMF.webp) top left no-repeat;
}
.s9-card-info1,
.s9-card-info2 {
    margin-top: 10px;
    padding: 20px 30px 0;
    height: 106px;
}
.s9-card-info1 {
    background: #7fc036;
}
.s9-card-info2 {
    background: #ee3434;
}
.s10 {
    height: 927px;
    background: url(../img/s10-bg.png) top center no-repeat;
}
.s10-title {
    padding-top: 120px;
    text-align: center;
}
.s10-row {
    margin-top: 18px;
}
.s10-block {
    position: relative;
}
.s10-block-img {
    height: 671px;
    width: 408px;
    position: absolute;
    background: url(../img/xmen-2.png.pagespeed.ic.Hz6NNJq0n2.webp);
}
.s10-prod {
    padding-top: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.s10-prod-img {
    height: 520px;
    width: 100%;
    background: url(../img/prostata.png) top center no-repeat;
    background-size: contain;
    position: absolute;
    background-size: 170px;
    top: 146px;
}
.s10-prod-disc {
    width: 102px;
    height: 102px;
    position: absolute;
    top: 112px;
    left: 26px;
    background: #ee3434;
    transform: rotate(-20deg);
    border: 5px #fff solid;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font: bold 16px/21px "Roboto Condensed", sans-serif;
}
.s10-prod-disc span {
    font-size: 18px;
    margin-top: 8px;
}
.s10-prod-old {
    font-weight: 700;
    text-transform: uppercase;
}
.s10-prod-new {
    padding: 3px 8px;
    margin-top: 5px;
    font: bold 40px/45px "Roboto Condensed", "sans-serif";
    text-transform: uppercase;
    letter-spacing: -0.02em;
    color: #294554;
    background: #ffe600;
}
.s10-prod-arrow {
    height: 22px;
    width: 120px;
    background: url(../img/xarrow.png.pagespeed.ic.FPXdDElCHT.webp) center no-repeat;
    position: absolute;
    bottom: -40px;
    right: -30px;
}
.s10-info {
    padding-top: 80px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s10-info-item {
    height: 92px;
    width: 100%;
    margin-bottom: 30px;
}
.s10-info-item-img1,
.s10-info-item-img2,
.s10-info-item-img3 {
    height: 92px;
    width: 92px;
    z-index: 10;
}
.s10-info-item-img1 {
    background: url(../img/xs10-item1.png.pagespeed.ic.gtQCal9cyg.webp) left center no-repeat;
}
.s10-info-item-img2 {
    background: url(../img/xs10-item2.png.pagespeed.ic.QVy4JAi69Q.webp) left center no-repeat;
}
.s10-info-item-img3 {
    background: url(../img/xs10-item3.png.pagespeed.ic.geGuBXROwD.webp) left center no-repeat;
}
.s10-info-item-text {
    padding: 20px 10px 20px 100px;
    background: rgba(0, 0, 0, 0.14);
    border-radius: 100px;
}
.s10-info-btn {
    margin-top: 55px;
}
.s11 {
    height: 733px;
}
.s11-title {
    padding-top: 120px;
    text-align: center;
}
.s11-subtitle {
    text-align: center;
}
.s11-cards {
    margin-top: 85px;
}
.s11-card-img1,
.s11-card-img2,
.s11-card-img3,
.s11-card-img4 {
    height: 170px;
    width: 270px;
}
.s11-card-img1 {
    background: url(../img/xorder-icon.png.pagespeed.ic.T_qQD-Erl3.webp) top center no-repeat;
}
.s11-card-img2 {
    background: url(../img/xorder-icon2.png.pagespeed.ic.UOJ0w7PqbN.webp) top center no-repeat;
}
.s11-card-img3 {
    background: url(../img/xorder-icon3.png.pagespeed.ic.6Di6YEvJ1C.webp) top center no-repeat;
}
.s11-card-img4 {
    background: url(../img/xorder-icon4.png.pagespeed.ic.KUM3JAOAQD.webp) top center no-repeat;
}
.s11-card-num {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.s11-card-arrow {
    position: relative;
}
.s11-card-arrow-img {
    width: 65px;
    height: 30px;
    background: url(../img/xic-arrow.png.pagespeed.ic.Gaw-KBehU9.webp) center no-repeat;
    position: absolute;
    top: 190px;
    left: -25px;
}
.s11-card-num-wrap {
    height: 32px;
    width: 32px;
    background: #ee3434;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font: bold 16px/19px "Roboto Condensed", "sans-serif";
}
.s11-card-title {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.s11-card-desc {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.s11-card-desc-link {
    color: #7fc036;
    text-decoration: underline;
    line-height: 24px;
}
.s12 {
    height: 1723px;
    background: #f0f9ff;
}
.s12-title {
    padding-top: 120px;
    text-align: center;
}
.s12-comments {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s12-comment {
    width: 970px;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(121, 152, 175, 0.1);
    border-radius: 5px;
    padding: 30px;
}
.s12-comment-img-wrapper {
    padding: 0;
    padding-right: 30px;
}
.s12-comment-img1,
.s12-comment-img2,
.s12-comment-img3 {
    height: 160px;
    width: 130px;
    border-radius: 5px;
}
.s12-comment-img1 {
    background: url(../img/xava-1.png.pagespeed.ic.jc_-hyhCUW.webp) top center no-repeat;
}
.s12-comment-img2 {
    background: url(../img/xava-2.png.pagespeed.ic.dcOQCoDHSW.webp) top center no-repeat;
}
.s12-comment-img3 {
    background: url(../img/xava-3.png.pagespeed.ic.ltz24XaEw9.webp) top center no-repeat;
}
.s13 {
    height: 696px;
    background: url(../img/xs13-bg.png.pagespeed.ic.K60S_QGFHK.webp) top center no-repeat;
    padding-top: 78px;
}
.s13-img {
    height: 682px;
    width: 438px;
    left: -30px;
    bottom: -45px;
    background: url(../img/xmen-bottom.png.pagespeed.ic.5_fsN_FadB.webp) bottom center no-repeat;
}
.s13-prod {
}
.s13-prod-title {
    font: bold 36px/56px "Roboto Condensed", "sans-serif";
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.s13-prod-timer {
    height: 91px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.s13-prod-timer-wrapper {
    height: 100%;
    width: 290px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s13-prod-img-wrapper {
    position: relative;
}
.s13-prod-img {
    height: 380px;
    width: 263px;
    top: -76px;
    position: absolute;
    background: url(../img/prostata.png) top center no-repeat;
    background-size: contain;
	transform: scale(1.1);
}
.s13-img-disc {
    width: 102px;
    height: 102px;
    position: absolute;
    top: 30px;
    right: 0;
    background: #ee3434;
    transform: rotate(-20deg);
    border: 5px #fff solid;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}
.s13-img-disc span {
    font-size: 18px;
    margin-top: 8px;
}
.s13-img-arrow {
    height: 30px;
    width: 120px;
    top: 130px;
    right: -100px;
    background: url(../img/xs13-arrow.png.pagespeed.ic.iAli661uOw.webp) center no-repeat;
}
.s13-form {
    padding-top: 12px;
}
.s13-form-header {
    padding: 30px 60px;
    background: #1c83bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}
.s13-form-main {
    height: 352px;
    padding: 30px 40px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.s13-form-main-price {
    padding-top: 15px;
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
}
.s13-form-main-price-old {
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
}
.s13-form-main-price-new {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    letter-spacing: -0.02em;
}
.s13-form-main-price-spacer {
    height: 40px;
    width: 20px;
    background: url(../img/) center no-repeat;
}
.form-header {
    padding: 30px 60px;
    background: #1c83bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}
.form-header-title h3 {
    line-height: 36px;
    color: #fff;
}
.form-header-title-discount {
    padding: 5px;
    background: #ffe600;
}
.form-header-desc {
    margin-top: 10px;
}
.form-main {
    height: 352px;
    padding: 20px 40px 30px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.form-main-price {
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
}
.form-main-price-old {
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.4);
}
.form-main-price-new {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    letter-spacing: -0.02em;
    color: #ee3434;
}
.form-main-price-spacer {
    height: 40px;
    width: 20px;
    background: url(../img/) center no-repeat;
}
.form-main-order {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-main-order select,
.form-main-order input {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    margin-bottom: 15px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    color: #757575;
}
.form-main-order select {
    padding-left: 48px !important;
    background-repeat: no-repeat !important;
    background-position: 15px center !important;
    background: url(../img/xic-planet.png.pagespeed.ic.GheJYVyo-B.webp);
}
.form-main-order input {
    padding: 0 14px;
}
.form-main-order-inp1 {
    background: url(../img/xic-user.png.pagespeed.ic.mRpPGoyLgu.webp);
}
.form-main-order-inp2 {
    background: url(../img/xic-phone.png.pagespeed.ic.SrEmv95zMr.webp);
}
.form-main-order-inp1,
.form-main-order-inp2 {
    padding-left: 48px !important;
    background-repeat: no-repeat;
    background-position: 15px center;
}
.form-main-order button {
    width: 100%;
}
.form-timer {
    margin-top: 15px;
}
.form-timer-wrapper {
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}
.form-timer-wrapper span:first-child {
    font: bold 28px/33px "Roboto Condensed", "sans-serif";
    letter-spacing: -0.02em;
}
.form-timer-wrapper span:last-child {
    font: 10px/12px "Roboto", "sans-serif";
    text-transform: uppercase;
    opacity: 0.8;
}
.form-timer-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 32px;
    padding: 0 15px !important;
}
.footer {
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.header-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	color: #3ba4d6;
}

.header-logo .lightgreen {
	color: #a2cc45;
	margin-right: 10px;
}

.s4 {
	position: relative;
}

.figure {
	margin: 0;
	position: absolute;
	width: 100%;
	max-width: 1440px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;

    background: #396afc; 
    background: -webkit-linear-gradient(to left, #2948ff, #396afc); 
    background: linear-gradient(to left, #2948ff, #396afc); 	
}


.figure::after {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100vw;
	background-image: url(../img/prostata.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transform: scale(0.75);
	opacity: 0.2;
	content: '';
	clear: both;
	display: block;
}

@media only screen and (min-width: 768px) {
	.figure::after {
		width: 50vw;
		background-position: center 35px;
	}
}