.navbar {
	transform: translateY(-100%);
	transform-origin: 0 0 0;
	transition: transform 0.3s ease-in-out;
}

@media only screen and (max-width: 1199.98px) {
	.navbar {
		display: none;
	}
}

.navbar.affixNav {
	transform: translateY(0%);
}